.nav {
  flex: 1 1 300px;
}

.nav__links {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav__link {
  border: 5px solid rgb(213, 58, 157);
  border-radius: 2px;
  box-shadow: 0 0 10px rgb(213, 58, 157), inset 0 0 10px rgb(213, 58, 157);
  font-family: "Orbitron", sans-serif;
  font-size: clamp(12px, 0.57rem + 0.7vw, 20px);
  letter-spacing: 1.5px;
  text-decoration: none;
  color: rgb(255, 255, 255, 0.9);
  padding: 10px 20px;
  width: auto;
}

.nav__link:hover {
  background-color: rgb(213, 58, 157, 0.3);
  color: rgb(213, 58, 157);
}

.nav__link--active {
  background-color: rgb(213, 58, 157, 0.3);
  color: rgb(213, 58, 157);
}

@media (min-width: 951px) {
  .nav__links {
    flex-direction: column;
  }

  .nav__link {
    width: 320px;
  }
}

@media (min-width: 780px) {
  .nav__link {
    width: 320px;
  }
}
